*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font;
    src: url();
}

#nav-area .logo{
    position: absolute;
    top:15px;
    left: 15px;
}

#nav-area .my-container{
    width: 90%;
    height: 85px;
    margin: auto;
    background-color: white;
}

#nav-area .my-navbar{
    justify-content: center;
}

#nav-area .my-navbar ul{
    padding: 10px;
    gap: 15px;
}

#nav-area .my-navbar ul li{
    font-size: 20px;
}

#nav-area .my-navbar ul li .my-link{
    color: #78CB36;
}

#nav-area .icons{
    position: absolute;
    right: 50px;
    top: 20px;
}

#nav-area .icons a{
    font-size:25px;
    margin-left: 25px;
    color: #000000;
}

#nav-area .count-heart{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    position: relative;
    top: 45px;
    left: 265px;

}

#nav-area .count-heart span{
    color: white;
    position: absolute;
    right: 5px;
    top: -1px;
    font-size: 13px;
    
}

#nav-area .count-basket{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    position: relative;
    top: 24px;
    left: 365px;
}

#nav-area .count-basket span{
    color: white;
    position: absolute;
    right: 5px;
    top: -1px;
    font-size: 13px;
}

.main-img .info{
    width: 400x;
    height: 150px;
    position: absolute;
    left: 120px;
}

#main-shop .my-container .main-img .img{
    width: 100%;
    height: 600px;  

}

.main-img .info .words .first-words{
    display:flex ;
}

.main-img .second-words{
    display: flex;
    padding: 5px;
}

.main-img .first-words{
    margin-top: -450px;
    gap: 10px;
}

.main-img .second-words{
    gap: 10px;
}

.main-img .second-words .change-color{
    color: #33CAD5;
   
}

.main-img .first-words .change-color{
    color: #33CAD5;
}

.main-img .first-words h1{
    font-size:70px;
}

.main-img .second-words h1{
    font-size:70px;
}

.width{
    padding-left: 0;
    padding-right: 0;
}

#main-shop .button .my-button{
    margin-top: 30px;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    background-color: #33CAD5;
}

#services .my-container{
    width: 90%;
    height: 85px;
    margin: auto;
    background-color: white;
}

#services .my-container{
   width: 90%;
   height: 87px;
    margin: auto;
    background-color: white;
    position: relative;
}

#services .my-container i{
    position: absolute;
    top: 38px;
    left: 12px;
    font-size: 32px;

}

#services .my-container h6{
    font-size: 18px;
    position: absolute;
    top: 30px;
    left: 65px;
}

#services .my-container p{
    font-size: 18px;
    position: absolute;
    top: 55px;
    left: 65px;
}

#shopping{
    height: 100%;
    height: 770px;
    background-color: #FAFAFA;
    
}

#shopping .my-container{
    width: 90%;
    height: 85px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
}

#shopping .text-new-arrivals h3{
    position: absolute;
    top: 80px;
    left: 0px;
}

#shopping .my-container .first-images{
    position: absolute;
    top: 165px;
    left: 0;
}

#shopping .my-container .second-images{
    position: absolute;
    top: 165px;
    left: 8px;
}

#shopping .my-container .third-images{
    position: absolute;
    top: 165px;
    left: 15px;
}

#shopping .my-container .fourth-images{
    position: absolute;
    top: 165px;
    left: 22px;
}

#shopping .my-container .first-images img{
    width: 325px;
}

#shopping .my-container .second-images img{
    width: 325px;
}

#shopping .my-container .third-images img{
    width: 325px;
}

#shopping .my-container .fourth-images img{
    width: 325px;
}

#shopping .my-container .first-images .foxic{
    width: 325;
    height: 200px;
    background-color: white;
    position: relative;
}

#shopping .my-container .second-images .seiko{
    width: 325;
    height: 200px;
    background-color: white;
    position: relative;
}

#shopping .my-container .third-images .banita{
    width: 325;
    height: 200px;
    background-color: white;
    position: relative;
}

#shopping .my-container .fourth-images .bigsteps{
    width: 325;
    height: 200px;
    background-color: white;
    position: relative;
}

#shopping .my-container .first-images .foxic span{
    position: absolute;
    top: 70px;
    left: 143px;
    opacity: 0.5;
}

#shopping .my-container .second-images .seiko span{
    position: absolute;
    top: 70px;
    left: 143px;
    opacity: 0.5;
}

#shopping .my-container .third-images .banita span{
    position: absolute;
    top: 70px;
    left: 143px;
    opacity: 0.5;
}

#shopping .my-container .fourth-images .bigsteps span{
    position: absolute;
    top: 70px;
    left: 143px;
    opacity: 0.5;
}

#shopping .my-container .first-images .foxic h6{
    position: absolute;
    top: 100px;
    left: 67px;
}

#shopping .my-container .second-images .seiko h6{
    position: absolute;
    top: 100px;
    left: 45px;
}

#shopping .my-container .third-images .banita h6{
    position: absolute;
    top: 100px;
    left: 37px;
}

#shopping .my-container .fourth-images .bigsteps h6{
    position: absolute;
    top: 100px;
    left: 67px;
}

#shopping .my-container .first-images .foxic h5{
    position: absolute;
    top: 132px;
    left: 135px;
}

#shopping .my-container .second-images .seiko h5{
    position: absolute;
    top: 132px;
    left: 135px;
}

#shopping .my-container .third-images .banita h5{
    position: absolute;
    top: 132px;
    left: 135px;
}

#shopping .my-container .fourth-images .bigsteps h5{
    position: absolute;
    top: 132px;
    left: 135px;
}

#shopping .my-container .first-images .foxic .stars{
    color: gold;
    display: flex ;
    justify-content: center ;
    position: absolute; 
    gap: 1px;
    top: 160px !important;
    left: 110px;
}

#shopping .my-container .second-images .seiko .stars{
    color: gold;
    display: flex ;
    justify-content: center ;
    position: absolute; 
    gap: 1px;
    top: 160px !important;
    left: 110px;
}

#shopping .my-container .third-images .banita .stars{
    color: gold;
    display: flex ;
    justify-content: center ;
    position: absolute; 
    gap: 1px;
    top: 160px !important;
    left: 110px;
}

#shopping .my-container .fourth-images .bigsteps .stars{
    color: gold;
    display: flex ;
    justify-content: center ;
    position: absolute; 
    gap: 1px;
    top: 160px !important;
    left: 110px;
}

#info{
    height: 70%;
    height: 620px;
    background-color: #FAFAFA;
}

#info .my-container{
    width: 90%;
    height: 85px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
}

#info .my-container .termometre-shop img{
    width: 415px;
    height: 531px;
}

#info .my-container .termometre-shop h5{
    color: white;
    margin-top: -259px;
    margin-left: 220px;
}

#info .my-container .termometre-shop h1{
    color: white;
    font-size: 50px;
    margin-top: 0px;
    margin-left: 220px;
}

#info .my-container .shop-button{
    margin-top: 0px;
    margin-left:216px;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}

#info .care-shop img{
    margin-left: -40px;
}

#info .care-shop .first-text{
    margin-top: -200px;
    display: flex;
    gap: 10px;
}

#info .care-shop .second-text{
    display: flex;
    gap: 10px;
}

#info .care-shop .care-button{
    
    margin-left: -143px;
    margin-top: 53px;
    justify-content: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}

#info .masc-shop img{
    margin-top: 74px;
    margin-left: -39px;
}

#info .masc-shop .first-text{
    margin-top: -200px;
    margin-left: 180px;
    display: flex;
    gap: 10px;
}

#info .masc-shop .second-text{
    margin-left: 180px;
}

#info .masc-shop .masc-button{
    margin-left: 0px;
    margin-top: 15px;
    justify-content: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}

#info .toothbrush-shop img{
    margin-left:-23px;
}

#info .toothbrush-shop h5{
    margin-top: -220px;
    margin-left: 30px;
    color: white;
}

#info .toothbrush-shop h2{
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    
    
}

#info .toothbrush-shop h3{
    color: white;
    margin-top:-42px;
    margin-left: 100px;
}

#info .toothbrush-shop .toothbrush-button{
    margin-left: 24px;
    margin-top: 9px;
    justify-content: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}

#info .vitamins-shop img{
    margin-top: 66px;
    margin-left: -22px;
}

#info .vitamins-shop .first-text{
    display: flex;
    gap: 10px;
    margin-top: -200px;
    margin-left: 210px;
    color: white;
}

#info .vitamins-shop .second-text{
   margin-left: 210px;
   color: white;
}

#info .vitamins-shop .vitamins-button{
    margin-left: -3px;
    margin-top: 6px;
    justify-content: center;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}

#home-info{
    height: 70%;
    height: 500px;
    background-color: white;
}

#home-info .home-txt{
    margin-top: 110px;
    margin-left: 80px;
}

#home-info .home-text{
    margin-top: 70px;
    margin-left: 80px;
}

#home-info .home-img{
    margin-top: 90px;
    margin-left: -15px;
}

#precautions{
    height: 70%;
    height: 340px;
    background-color: white;
}

#precautions .page-text{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-left: 79px;
    
}

.page-icons{
    width:300px;
    height: 184px;
    background-color: white;
}

#precautions .page-icons{
    margin-top: 99px;
    margin-left: -420px;
    font-size: 90px;
}

#precautions .page-icons i{
    margin-left: 80px;
}

#precautions .page-icons h6{
    margin-left: 10px;
}

.mask-icons{
    width:300px;
    height: 184px;
    background-color: white;
}

#precautions .mask-icons{
    margin-top: 108px;
    margin-left: 15px;
    font-size: 90px;
}

#precautions .mask-icons i{
    margin-left: 103px;
}

#precautions .mask-icons h6{
    margin-left: 40px;
}

.contact-icons{
    width:300px;
    height: 184px;
    background-color: white;
}

#precautions .contact-icons{
    margin-top: 108px;
    margin-left:  -17px;
    font-size: 90px;
}

#precautions .contact-icons i{
   margin-left: 100px; 
}

#precautions .contact-icons h6{
    margin-left: 60px;
}

.calendar-icons{
    width:300px;
    height: 184px;
    background-color: white;
}

#precautions .calendar-icons{
    margin-top: 108px;
    margin-left: -50px;
    font-size: 90px;
}

#precautions .calendar-icons i{
    margin-left: 110px; 
}

#precautions .calendar-icons h6{
    margin-left: 90px;
}

#homepage-blog{
    height: 70%;
    height: 550px;
    background-color: #FAFAFA;
}

#homepage-blog .first-slider{
    margin-top: 105px;
    margin-left: 89px;
}

#homepage-blog .first-slider img{
    width: 408px;
    height: 222px;
    margin-top: 55px;
}

#homepage-blog .first-slider h5{
    margin-top:15px ;
    margin-left:39px ;
}

#homepage-blog .first-slider span{
    margin-left: 121px;
}

#homepage-blog .second-slider img{
    width: 408px;
    height: 222px;
    margin-top: 202px;
    margin-left: 20px;
}

#homepage-blog .second-slider h5{
    margin-top:15px ;
    margin-left:30px ;
}

#homepage-blog .second-slider span{
    margin-left: 152px;
}

#homepage-blog .third-slider img{
    width: 408px;
    height: 222px;
    margin-top: 202px;
    margin-left: -48px;
}

#homepage-blog .third-slider h5{
    margin-top:15px ;
    margin-left:20px ;
}

#homepage-blog .third-slider span{
    margin-left: 85px;
}

#main-footer{
    height: 70%;
    height: 100px;
    background-color: #33CAD5;
}

#main-footer .icons-footer{
    font-size: 48px;
    margin-top: 15px;
    margin-left: 300px;
    color: white;
}

#main-footer .first-text{
    margin-left: 390px;
    margin-top: -65px;
    color: white;
}


#main-footer .button-purchase .btn-button{
    margin-top: 31px;
    margin-left: -165px;
    position: relative;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    color: black;
}